#explorefield {
  margin: 0;
  padding: 0;
}

#explorefield #custom___43 {
  position: absolute;
  box-sizing: border-box;
  background: #E5E5E5;
  width: 1100px;
  height: 600px;
  background-color: white;
  overflow: hidden;
  margin: 0;
  padding: 0;
  opacity: 1;
  --web-view-name: custom - 43;
  --web-view-id: custom___43;
  --web-enable-deep-linking: true;
}

#explorefield #custom___43 #______69 {
  opacity: 1;
  position: absolute;
  width: 864px;
  height: 578.999px;
  left: 118px;
  top: 21px;
  overflow: visible;
  pointer-events: none;
}

#explorefield #custom___43 #______69 .reset {
  cursor: pointer;
  pointer-events: visible;
}

#explorefield #custom___43 #______69 #_____A42_Text_16 {
  opacity: 1;
  position: absolute;
  left: 534px;
  top: 537px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: visible;
  width: 69px;
  white-space: nowrap;
  text-align: center;
  font-family: A-OTF UD Shin Go Pr6N;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  color: #00ffb0;
}

#explorefield #custom___43 #______69 #______________________________ {
  opacity: 1;
  position: absolute;
  left: 0px;
  top: 0px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: visible;
  width: 865px;
  white-space: nowrap;
  line-height: 33px;
  margin-top: -0.5px;
  text-align: center;
  font-family: A-OTF UD Shin Go Pr6N;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  color: white;
}

#explorefield #custom___43 #______69 #_____A42_Text_18 {
  opacity: 1;
  position: absolute;
  left: 627px;
  top: 537px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: visible;
  width: 69px;
  white-space: nowrap;
  text-align: center;
  font-family: A-OTF UD Shin Go Pr6N;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  color: #00ffb0;
}

#explorefield #custom___43 #______69 #___1_A42_BooleanGroup_1 {
  opacity: 1;
  fill: #00ffb0;
  stroke: #707070;
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

#explorefield #custom___43 #______69 .___1_A42_BooleanGroup_1 {
  transform: matrix(1, 0, 0, 1, 0, 0);
  overflow: visible;
  position: absolute;
  top: 517px;
  left: 370px;
  width: 124px;
  height: 61.999px;
}

#explorefield #custom___43 #______69 #___A42_Text_19 {
  opacity: 1;
  position: absolute;
  left: 408px;
  top: 534px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: visible;
  width: 49px;
  white-space: nowrap;
  text-align: center;
  font-family: A-OTF UD Shin Go Pr6N;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: black;
}

#explorefield #custom___43 #______69 #ID1_4 {
  opacity: 1;
  position: absolute;
  left: 410px;
  top: 89px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: visible;
  width: 45px;
  white-space: nowrap;
  text-align: center;
  font-family: A-OTF UD Shin Go Pr6N;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: white;
}

#explorefield #custom___43 .parks__________1 {
  position: absolute;
  overflow: visible;
  width: 1098.333px;
  height: 600px;
  left: 0px;
  top: 0px;
}

#explorefield #custom___43 .parks__________1 #parks__________1 {
  opacity: 1;
  fill: url(#parks__________1_A42_Rectangle_2_pattern);
}

#explorefield #custom___43 .CatWrapping {
  opacity: 1;
  position: absolute;
  overflow: visible;
  cursor: pointer;
}

#explorefield #custom___43 .CatWrapping .SmallWrapping {
  opacity: 1;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}

#explorefield #custom___43 .CatWrapping .SmallWrapping .EllipseWrapping {
  opacity: 1;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}

#explorefield #custom___43 .CatWrapping .SmallWrapping .EllipseWrapping .EllipseSVG {
  position: absolute;
  overflow: visible;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
}

#explorefield #custom___43 .CatWrapping .SmallWrapping .EllipseWrapping .EllipseSVG .EllipseInner {
  opacity: 1;
  fill: #333333;
}

#explorefield #custom___43 .CatWrapping .SmallWrapping .SVGWrapping {
  opacity: 0.6;
  position: absolute;
  left: 1.025px;
  top: 1.025px;
  overflow: visible;
}

#explorefield #custom___43 .CatWrapping .SmallWrapping .SVGWrapping .SVGInner {
  transform: matrix(1, 0, 0, 1, 0, 0);
  overflow: visible;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

#explorefield #custom___43 .CatWrapping .SmallWrapping .SVGWrapping .SVGInner .SVGPath {
  opacity: 1;
  fill: #00ffb0;
}

#explorefield #custom___43 .CatWrapping .NameWrapping {
  opacity: 1;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: visible;
  width: 41px;
  white-space: nowrap;
  text-align: center;
  font-family: Makinas 4 Square;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #00ffb0;
}

/*# sourceMappingURL=project_explore2.css.map */