<!DOCTYPE html>
<html>

	<head>
		{% load staticfiles %}
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>{% block title %}Welcome{% endblock %} - Parks</title>

		<!-- Bootstrap core CSS -->
		<link href= "{% static 'Bootstrap/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" >
		{% block additional-head %}{% endblock %}
	</head>

	<body>

		<!-- Navigation -->
		<nav class="navbar navbar-expand-lg navbar-light bg-light static-top">
			<div class="container">
				<a class="navbar-brand" href="{% url 'manager:index' %}">
					<img id="parksLogo" src="{% static 'image/gyroscope.png' %}" height="50" alt="Parksロゴ" />
					<img id="parksSign" src="{% static 'image/JoiRePa.png' %}" height="50" alt="Parks" />
				</a>
				{% if user.is_authenticated %}
				<form class="form-inline" action="/project/search/" method="POST">
					{% csrf_token %}
                    {{ search_form }}
                    <input type="image" src="{% static 'image/icon_search.png' %}">
				</form>
				<img id="userIcon" src="{{ user.image_thumbnail.url }}" height="50" alt="ユーザアイコン" />
				<span>{{ user.display_name }}</span>
				{% else %}
				<form class="form-inline">
					<input class="form-control mr-sm-2" type="email" placeholder="Email" aria-label="Email">
					<input class="form-control mr-sm-2" type="password" placeholder="Password" aria-label="Password">
					<button class="btn btn-success mr-sm-2" type="submit">ログイン</button>
					<a class="btn btn-warning my-2 my-sm-0" href="{% url 'manager:user_create' %}" role="button">新規登録</a>
				</form>
				{% endif %}
				<div>
					<a class="btn btn-outline-danger btn-sm" href="#" role="button">日本語</a>
					<a class="btn btn-outline-primary btn-sm" href="#" role="button">English</a>
				</div>	  
				<!--
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav ml-auto">
					<li class="nav-item active">
					<a class="nav-link" href="#">Home
					<span class="sr-only">(current)</span>
					</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Services</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Contact</a>
					</li>
					</ul>
					</div>
				-->
			</div>
		</nav>

		<!-- Page Content -->
		{% block body %}
		{% endblock %}

		<!-- Footer -->
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<a href="http://parks-inc.com/" target="_blank">Parks, Inc.</a>
				</div>
			</div>
		</div>

		<!-- Bootstrap core JavaScript -->
		<script src="{% static 'Bootstrap/vendor/jquery/jquery.min.js' %}"></script>
		<script src="{% static 'Bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

		{% block additional-js %}
		{% endblock %}

	</body>

</html>
