<!DOCTYPE html>
<html>

  <head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Parks - Home</title>

    <!-- Bootstrap core CSS -->
    <link href= "{% static 'Bootstrap/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" >

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light static-top">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img id="parksLogo" src="{% static 'image/logo.png' %}" height="50" alt="Parksロゴ" />
	  <img id="parksSign" src="{% static 'image/sign.png' %}" height="50" alt="Parks" />
	</a>
	<form class="form-inline">
	  <input class="form-control mr-sm-2" type="email" placeholder="Email" aria-label="Email">
	  <input class="form-control mr-sm-2" type="password" placeholder="Password" aria-label="Password">
	  <button class="btn btn-success mr-sm-2" type="submit">ログイン</button>
	  <a class="btn btn-warning my-2 my-sm-0" href="#" role="button">新規登録</a>
	</form>
	<div>
	  <a class="btn btn-outline-danger btn-sm" href="#" role="button">日本語</a>
	  <a class="btn btn-outline-primary btn-sm" href="#" role="button">English</a>
	</div>	  
	<!--
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
-->
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">
      <form>
	<div class="row justify-content-md-center mt-3">
	  <div class="col-6">
	    <div class="input-group">
	      <input type="text" class="form-control" placeholder="検索..." aria-label="Search" aria-describedby="button-addon2">
	      <div class="input-group-append">
		<button class="btn btn-outline-secondary" type="search" id="button-addon2">
		  <img src="image/icon_search.png" alt="[検索]" />
		</button>
	      </div>
	    </div>
	  </div>
	  <div class="col-2">
	    <button class="btn btn-outline-secondary" type="button">オプション</button>	    
	  </div>
	</div>
      </form>
      <!--
      <div class="row justify-content-md-center mt-3">
	<div class="col col-md-auto">
	  <form class="form-inline">
	    <div class="input-group">
	      <input type="text" class="form-control" placeholder="検索..." aria-label="Search" aria-describedby="button-addon2">
	      <div class="input-group-append">
		<button class="btn btn-outline-secondary" type="search" id="button-addon2">
		  <img src="image/icon_search.png" alt="[検索]" />
		</button>
	      </div>
	    </div>
	    <button class="btn btn-outline-secondary ml-3" type="button">オプション</button>	    
	  </form>
	</div>
      </div>
-->
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1 class="mt-5">作成中</h1>
          <p class="lead">まだだめ。</p>
          <ul class="list-unstyled">
            <li>Bootstrap 4.1.3</li>
            <li>jQuery 3.3.1</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'Bootstrap/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'Bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  </body>

</html>
