{% extends "base.html" %}
{% block title %}Explore{% endblock %}
{% load staticfiles %}

{% block additional-head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/project_explore.css' %}" />

{% endblock %}

{% block body %}

<div class="container" id="explorefield">
    <div class="ltheme theme" id="astronomy">宇宙</div>
    <div class="stheme theme" id="planet">惑星</div>
    <div class="stheme theme" id="particle">素粒子</div>

    <div class="ltheme theme" id="nano">ナノ粒子</div>

    <div class="ltheme theme" id="human">人体</div>
    <div class="stheme theme" id="longevity">長寿</div>
    <div class="stheme theme" id="receptor">感覚器</div>

    <div class="ltheme theme" id="animal">動物</div>

    <div class="ltheme theme" id="plant">植物</div>
</div>

<script type="text/javascript" src="{% static 'js/anime.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/project_explore.js' %}"></script>

{% endblock %}