{% extends "user_base.html" %}
{% load staticfiles %}

{% block additional-head %}

{% endblock %}

{% block subbody %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-1"></div>
        <div class="col-9">
            <div class="row" id="user_overview">
                <span style="font-style:normal;font-weight:normal;">ケンボーとかみずけんと呼ばれています．Parksも宜しくお願いします。</span>
            </div>
            <div class="row">
                <div class="col-8">
                    <div class="row">
                        <span>プロジェクト</span>
                        <a>詳しく見る</a>
                    </div>
                    <div class="row">
                        <div class="col">
                            [プロジェクト]
                        </div>
                        <div class="col">
                            [プロジェクト]
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            [プロジェクト]
                        </div>
                        <div class="col">
                            [プロジェクト]
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row">
                        <span>所属団体</span>
                        <a>詳しく見る</a>
                    </div>
                    <div class="row">
                        [組織]
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>    
{% endblock %}